In [16]:
words=['hi','where','are','you']
for w in words:
    print(w,(len(w)))

hi 2
where 5
are 3
you 3

In [17]:
for w in words[:]:
    if len(w)>3:
        words.insert(1,w)

In [18]:
words

['hi', 'where', 'where', 'are', 'you']

In [22]:
for w in range(4):
    print(w)

0
1
2
3

In [24]:
for w in range(4,8):
    print(w)

4
5
6
7

In [26]:
for w in range(1,100,5):
    print(w)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [32]:
for w in  range(-1,-100,-30):
      print(w)

-1
-31
-61
-91

In [33]:
a=['hi','handsome','how','are','you']

In [36]:
for h in range(len(a)):
    print(h,a[h])

0 hi
1 handsome
2 how
3 are
4 you

In [37]:
print(range(10))

range(0, 10)

In [40]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

In [45]:
print(list(range(0,100,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [42]:
print(list(range(1,100,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [47]:
a,b,c=1,2,3
a,b,c=b,b+a,c+b

In [48]:
a,b,c

(2, 3, 5)

In [49]:
a,b,c=1,2,3
a=c
b=c+a
c=b+c

In [50]:
a,b,c

(3, 6, 9)

In [2]:
for n in range(0,20):
    for x in range(3,n):
        if n%2==0:
            print(n,'even',x,'*',n//2)
            break
    else:
         print(n,'is a odd number')

0 is a odd number
1 is a odd number
2 is a odd number
3 is a odd number
4 even 3 * 2
5 is a odd number
6 even 3 * 3
7 is a odd number
8 even 3 * 4
9 is a odd number
10 even 3 * 5
11 is a odd number
12 even 3 * 6
13 is a odd number
14 even 3 * 7
15 is a odd number
16 even 3 * 8
17 is a odd number
18 even 3 * 9
19 is a odd number

In [12]:
for n in range(0,21,2):
     print(n,end=',')

0,2,4,6,8,10,12,14,16,18,20,