In [2]:
a=('reverse the string')

In [3]:
a[::-1]

'gnirts eht esrever'

In [11]:
a.split()

['reverse', 'the', 'string']

In [12]:
for n in a.split():
    print(n)

reverse
the
string

In [14]:
for n in a.split():
    print(n[::-1])

esrever
eht
gnirts

In [17]:
result=[]
for n in a.split():
    result.append(n[::-1])

In [18]:
result

['esrever', 'eht', 'gnirts']

In [20]:
' '.join(result)

'esrever eht gnirts'

In [21]:
result[::-1]

['gnirts', 'eht', 'esrever']

In [24]:
' '.join(result[::-1])

'gnirts eht esrever'

In [26]:
k={'mateen':'love viju','viju':'loves mathu'}

In [27]:
for a,b in k.items():
    print(a,b)

mateen love viju
viju loves mathu

In [34]:
for a,b in enumerate(['mathu','anu','kittu','mahi']):
         print(a,b)

0 mathu
1 anu
2 kittu
3 mahi

In [36]:
b[:]

'mahi'

In [32]:
a

3

In [33]:
b[1]

'a'

In [44]:
q=['mathu do u love','u love viju']

In [47]:
a=['ya i love him','i love from my bottom of heart']

In [48]:
for b,c in zip(q,a):
    print('hey! {0}?,yeah {1}!.'.format(b,c))

hey! mathu do u love?,yeah ya i love him!.
hey! u love viju?,yeah i love from my bottom of heart!.

In [55]:
for a in reversed(range(1,20,2)):
    print(a)

19
17
15
13
11
9
7
5
3
1

In [61]:
b=['mango','apple','chikoo','pinenapple','apple']

In [63]:
for n in sorted(set(b)):
    print(n)

apple
chikoo
mango
pinenapple

In [66]:
def name(mateen1,mahesh2):
    return mateen1+mahesh2

In [67]:
result=name(1,2)

In [69]:
print(result)

3

In [95]:
def fib(n):
    a,b=0,1
    while a<n:
        print(a,end=' ')
        a,b=b,b+a

In [93]:
fib(100)

1 2 3 5 8 13 21 34 55 89

In [82]:
fib

In [84]:
d=fib

In [94]:
d(20)

0 1 1 2 3 5 8 13