In [49]:
w='mahesh'

In [50]:
w[2]

'h'

In [51]:
'w'+w[1:]

'wahesh'

In [52]:
my_name='mahi'

In [53]:
print('hellow+my_name')

hellow+my_name

In [54]:
format="hey how %s your %s?"

In [55]:
values=('is','sister')

In [56]:
print(format%values)

hey how is your sister?

In [64]:
print('average salary per month:%4.2f'%(133.456))

average salary per month:133.46

In [72]:
format="pi with thre decimals:%.3f"

In [76]:
from math import pi

In [77]:
print(format%pi)

pi with thre decimals:3.142

In [79]:
print('we all go to class {}'.format('daily'))

we all go to class daily

In [84]:
print('mateen {2} {1} {0}'.format('mahi','viju','anu'))

mateen anu viju mahi

In [90]:
"{3} {0} {2} {1}".format('are','doing','u','what')

'what are u doing'